# 이 파일을 복사해서 .env 로 저장하세요
#   cp .env.example .env
# .env 는 깃에 올라가지 않습니다.

VITE_API_BASE_URL=http://3.143.245.234:8080
VITE_SCHEDULE_EXTRACT_API_URL=http://3.143.245.234:8080/schedules/extract


# 서버 점검 중이면 true (목데이터로 화면 확인). 서버 살아나면 false
VITE_USE_MOCK=false
